.success {
  color: green;
  background-color: lightgray;
  font-size: 30px;
  border-radius: 8px;
  border-style: solid;
  border-color: green;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 5px 5px;
}

.error {
  color: red;
  background-color: lightgray;
  font-size: 30px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 5px 5px;
}
